<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cascade Falls</key>
	<array>
		<string>Waterfall at the top of a 1 mile hike.</string>
		<string>Long Exposure</string>
		<string>37.353871,-80.599504</string>
		<string>CascadeFalls.jpg</string>
		<string>Possible long exposure from the water</string>
	</array>
</dict>
</plist>
