<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Landscape</key>
	<dict>
		<key>1</key>
		<array>
			<string>McAfee&apos;s Knob</string>
			<string>Hike that leads to valley overhang</string>
			<string>37.390324,-80.065822</string>
			<string>McAfee&apos;s_Knob.jpg</string>
			<string>Possible sunset panorama</string>
		</array>
	</dict>
	<key>Long Exposure</key>
	<dict>
		<key>1</key>
		<array>
			<string>Cascade Falls</string>
			<string>Waterfall at the top of a 1 mile hike.</string>
			<string>37.353871,-80.599504</string>
			<string>Cascade_Falls.jpg</string>
			<string>Possible long exposure from the water</string>
		</array>
	</dict>
</dict>
</plist>
